body{width:80%;}
header{
	display:flex;
}
#logo{
	width:40%;
}
#menu{
	width:60%;
	display: flex;
    justify-content: center;
	align-items:center;
	
}
ul{
	display:flex;
	justify-content:center;
}
ul li{
	margin-right:145px;
	font-size: 30px;
	align-items:center;
	display:flex;
	
}
button{background:transparent;}
#stuff{margin:0 auto;}
p{border:1px solid black; margin-left:50px;}
.clear{clear:both;}
#stuf,#student,#teacher{display:none;}